html {}

body {
	background-color: #ffeead;
	margin: 0;
}

.row {
	width: 100%;
	min-height: 30px;
	background-color: #ffcc5c;
	padding: 5px;
}

.container {
	width: auto;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #96ceb4;
}